:host{
    height:100vh;
    background-color: rgba(0, 0, 0, 0.568);
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0px;
    left: 0px;
}

.overlay-container{
    width: 80vw;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
}